@import "settings/rubygems";
@import "components/asciidoc";
@import "components/awesome-icons";

.literalblock,
.listingblock {
  pre {
    background: $pre-bg;
  }
}

.strike {
  text-decoration: line-through;
}
